<link rel="stylesheet" href="/style.css">

<div id="nav">
  <div id="nav-wrap">
    <a href="/">Nodejs Crud</a>
    <div class="nav-menu">
      <a href="/table">Table</a>
      <a href="/table/post">Post</a>
    </div>
  </div>
</div>