<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found Page</title>
</head>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <h2>Oops. 404</h2>
  <p>Page Not Found</p>
</body>
</html>