<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Home</title>
</head>
<body>
  <div id="home">
    <div id="home-wrap">
      <h1>Howdy Guys!</h1>
      <p>let's start testing this website, enter your data in the postdata page 
        and see your data in the table page.</p>
      <a href="/table/post">Post Data</a>
    </div>
  </div>
</body>
</html>